<div class="row">
  <div class="page-header">
    <h1>Lista de Tareas:</h1>
    <button align="right" type="button" class="btn btn-success waves-effect" data-toggle="modal" data-target="#modalTarea">
        Agregar
    </button>
  </div>
</div>


<table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>Titulo</th>
      <th>Descripcion</th>
      <th>Fecha Registro</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Prueba</td>
      <td>Lo mejor</td>
      <td></td>
    </tr>
  </tbody>
</table>
